header{
    display: flex;
    justify-content:space-around ;
    background-color:#007CBF;
    position:sticky;
    top: 0;
    padding: 8px;
}
header img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
header nav{
    display: flex;
    justify-content:space-around ;
}
header nav ul{
    display: flex;
    justify-content:space-between ;
    width: 200%;
    align-items: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
   
  
}
header nav ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all 5%;
    
}
li a:hover::after{
    width: 20px;
}
li a:hover{
    color: aliceblue;
    transform: scale(1.2);
}
#div1{
    text-align: center;
    padding: 10px;
    border: 500px;
    border-radius: 10px;

}
img{
    width: 1200px;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 150%;
}
h1{
    font-family: "Open Sans", sans-serif;
    text-align: center; 
}
div{
    display: flex;
    justify-content: space-around;
}
button{
    padding: 15px 30px;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 10px;
    background-color: chocolate;
    border: 2px solid white;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.div2{
    flex: none;
}
.watch button{
    font-weight: 400;
    justify-content: center;
}
